.architecture-container-text {
  padding: 0 calc(50% - 695px);
  @include to(1440px) {
    padding: 0 calc(50% - 500px);
  }
  @include to(850px) {
    padding: 0;
  }
}
.architecture-ornament-main {
  position: absolute;
  bottom: -109px;
  left: calc(25% - 150px);
  z-index: -1;
  width: 218px;
  height: 218px;
  @include to(1440px) {
    bottom: -75px;
    left: calc(25% - 75px);
    width: 150px;
    height: 150px;
  }
  @include to(850px) {
    bottom: -50px;
    left: calc(25% - 50px);
    width: 100px;
    height: 100px;
  }
  @include to(575px) {
    width: 0;
    height: 0;
  }
}
.architecture-container-section.mobile-container {
  @include to(850px) {
    padding-top: 100px;
  }
  @include to(575px) {
    flex-direction: column-reverse;
    padding-top: 30px;
  }
}
.architecture-container-section {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  @include to(850px) {
    padding-top: 50px;
  }
  &-text {
    width: 50%;
    font-size: 24px;
    line-height: 1.7;
    letter-spacing: -0.05em;
    color: #818181;
    display: flex;
    align-items: center;
    justify-content: center;
    @include to(1440px) {
      font-size: 16px;
    }
    @include to(575px) {
      width: 100%;
      justify-content: flex-start;
      padding-top: 30px;
      font-size: min(vw(12, 320), 14px);
    }
    & p {
      width: 55%;
      @include to(850px) {
        width: 87%;
      }
      @include to(575px) {
        width: 100%;
      }
    }
  }
  &-img {
    width: 45%;
    position: relative;
    @include to(575px) {
      width: 100%;
    }
    & .architecture-ornament {
      position: absolute;
      width: 218px;
      height: 218px;
      bottom: -109px;
      right: calc(50% - 109px);
      z-index: -1;
      @include to(1440px) {
        width: 150px;
        height: 150px;
        bottom: -75px;
        right: calc(50% - 75px);
      }
      @include to(850px) {
        width: 100px;
        height: 100px;
        bottom: -50px;
        right: calc(50% - 50px);
      }
      @include to(575px) {
        width: 0;
        height: 0;
      }
    }
  }
}
.architecture-container-text.hall-container-text {
  padding: 0 calc(50% - 400px);
  @include to(1440px) {
    padding: 0 calc(50% - 290px);
  }
  @include to(850px) {
    padding: 0;
  }
}
.architecture-container-section-reverse {
  flex-direction: row-reverse;
}
.architecture-btn {
  padding-top: 50px;
  @include to(850px) {
    padding-top: 100px;
  }
  @include to(575px) {
    padding-top: 30px;
    display: flex;
  }
}
.hall-container-mobile {
  @include to(575px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.hall-container-text-mobile {
  @include to(575px) {
    padding-top: 10px;
  }
}
.liberty-container-img-mobile {
  @include to(575px) {
    display: none;
  }
}
