.building-progress {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 190px;
  }
  &-item {
    position: relative;
    z-index: 10;
    // width: 28%;
    width: 300px;
    height: auto;
    &-text {
      position: absolute;
      z-index: 4;
    }
  }
  .building-page {
    margin: 0 auto;
    width: 1326px;
    padding: 30px 50px 0 106px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
  }
}

.building-progress-img.img-active {
  position: absolute;
  z-index: 3;
  // background: linear-gradient(180deg, rgba(59, 65, 78, 0.9) 0%, rgba(59, 65, 78, 0) 100%);
  width: 434px;
  height: 434px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @include to(1440px) {
    width: 300px;
    height: 300px;
  }
  @include to(575px) {
    width: 253px;
    height: 253px;
  }
}
.img-active-container {
  width: 100%;
  height: 100%;
  transition: transform 0.5s linear;
  & img {
    height: 100%;
  }
}
.img-active-container::after {
  background: linear-gradient(180deg, rgba(59, 65, 78, 0.9) 0%, rgba(59, 65, 78, 0) 100%);
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.building-progress-img.img-2 {
  position: absolute;
  z-index: 2;
  transform: translate(15px, 15px);
  transition: transform 0.5s linear;
  width: 434px;
  height: 434px;
  background-repeat: no-repeat;
  background-size: cover;
  @include to(1440px) {
    width: 300px;
    height: 300px;
    transform: translate(10px, 10px);
  }
  @include to(575px) {
    width: 253px;
    height: 253px;
    transform: translate(8px, 8px);
  }
}
.building-progress-img.img-3 {
  position: absolute;
  z-index: 1;

  transform: translate(30px, 30px);
  transition: transform 0.5s linear;

  width: 434px;
  height: 434px;
  background-repeat: no-repeat;
  background-size: cover;
  @include to(1440px) {
    width: 300px;
    height: 300px;
    transform: translate(20px, 20px);
  }
  @include to(575px) {
    width: 253px;
    height: 253px;
    transform: translate(16px, 16px);
  }
}
.building-progress-item-text {
  position: absolute;
  z-index: 10;
  width: 434px;
  height: 434px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include to(1440px) {
    width: 300px;
    height: 300px;
  }
  @include to(575px) {
    width: 253px;
    height: 253px;
  }

  & .date {
    font-weight: 300;
    font-size: 130px;
    line-height: 0.8;
    letter-spacing: -0.02em;
    color: #ffffff;
    padding-top: 50px;
    @include to(1440px) {
      font-size: 96px;
    }
    @include to(575px) {
      font-size: min(vw(64, 320), 66px);
      padding: 0;
    }
  }
  & .month {
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    @include to(1440px) {
      font-size: 18px;
    }
  }
  & .year {
    font-size: 24px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 50px;
    @include to(1440px) {
      font-size: 12px;
    }
    @include to(575px) {
      padding-top: 30px;
    }
  }
}
.building-progress-line {
  width: 20px;
  border: 0.5px solid #ffffff;
  margin: 25px 0;
  @include to(1440px) {
    margin: 15px 0;
  }
  @include to(575px) {
    margin: 10px 0;
  }
}

.building-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  // max-width: 1042px;
  width: 100%;
  padding-top: 70px;
  @include to(1440px) {
    width: 100%;
    padding-top: 45px;
  }
  @include to(850px) {
    justify-content: space-between;
    width: 100%;
    padding: 45px 35px 0 35px;
  }
  @include to(575px) {
    max-width: 300px;
    padding-top: 30px;
    justify-content: start;
    padding-left: 15px;
  }
  .building-progress-item-wrap {
    width: 434px;
    @include to(1440px) {
      width: 300px;
    }
    @include to(575px) {
      width: 253px;
    }
  }
  .building-progress-item {
    position: relative;
    z-index: 10;
    width: auto;
    padding-bottom: 100%;
    transition: 1s ease-in-out;
    // overflow: hidden;
    &:hover {
      .img-active-container {
        overflow: hidden;
        transform: scale(1.04);
      }
      .img-2 {
        // right: -20px;
        // top: 20px;
        transform: translate(20px, 20px);
        @include to(1440px) {
          // right: -15px;
          // top: 15px;
          transform: translate(15px, 15px);
        }
        @include to(575px) {
          // right: -11px;
          // top: 11px;
          transform: translate(11px, 11px);
        }
      }
      .img-3 {
        // right: -35px;
        // top: 35px;
        transform: translate(35px, 35px);
        @include to(1440px) {
          // right: -30px;
          // top: 30px;
          transform: translate(30px, 30px);
        }
        @include to(575px) {
          // right: -14px;
          // top: 14px;
          transform: translate(14px, 14px);
        }
      }
    }
  }
}

.building-progress-item-wrap {
  padding-bottom: 100px;
  @include to(1440px) {
    padding-bottom: 60px;
  }
  @include to(575px) {
    padding-bottom: 45px;
  }
}
.building-progress-item-wrap:nth-child(2n + 1) {
  margin-right: 100px;
  @include to(850px) {
    // margin-right: 70px;
    margin-right: 0;
  }
  @include to(575px) {
    margin-right: 0;
  }
}
.building-btn-container {
  padding: 10px 0 100px 0;
  @include to(575px) {
    padding: 30px 0 70px 0;
  }
}
.building-btn {
  color: $white;
  border: none;
  width: 300px;
  height: 60px;
  background: $pink;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  @include to(1440px) {
    width: 240px;
    height: 46px;
    font-size: 10px;
  }
  @include to(850px) {
    width: 300px;
    height: 70px;
    font-size: 14px;
  }
  @include to(575px) {
    width: 220px;
    height: 50px;
    font-size: min(vw(10, 320), 12px);
  }
}
.building-webcam.desktop {
  @include to(850px) {
    display: none;
  }
}
.webcam-img {
  fill: $pink;
  width: 85px;
  height: 85px;
  padding-right: 20px;
  @include to(1440px) {
    width: 65px;
    height: 65px;
    padding-right: 20px;
  }
}
.building-webcam a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  // &:hover {
  //   .webcam-img {
  //     fill: $blue;
  //   }
  // }
}
.building-webcam span {
  font-size: 16px;
  letter-spacing: -0.05em;
  color: $main-text;
  @include to(1440px) {
    font-size: 14px;
  }
}

.building-popup {
  // height: 100vh;
  // background: #27272c;

  // &-container {
  //   width: 1326px;
  //   position: relative;
  //   margin: 0 auto;
  // }
  // width: 1326px;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  height: 100vh;
  width: 100%;
  z-index: 99;
  pointer-events: none;
  background: #27272c;
  &.build-popup-active {
    visibility: visible;
    opacity: 1;
    pointer-events: painted;
  }
  &-container {
    // max-width: 1920px;
    position: relative;
    margin: 0 auto;
    @include to(1440px) {
      // max-width: 1326px;
    }
    @include to(850px) {
      // max-width: 768px;
      padding: 0 35px;
    }
  }
}

.gallery-swiper.building-swiper {
  height: 100vh;
  // max-width: 1260px;
  width: 100vw;
  margin: 0 auto;
  @include to(1440px) {
    // max-width: 890px;
  }
  @include to(850px) {
    width: 100%;
  }
  & img {
    height: 100vh;
    // max-width: 1260px;
    width: 70vw;
    object-fit: contain;
    @include to(1440px) {
      // max-width: 890px;
    }
    @include to(850px) {
      width: 100%;
    }
  }
}
.swiper-container.building-swiper-container {
  padding: 0;
}
.building-title {
  font-size: 64px;
  letter-spacing: -0.02em;
  color: $white;
  // @include to(1920px) {
  //   padding-top: 30px;
  // }
  @include to(1440px) {
    font-size: 36px;
  }
  @include to(575px) {
    font-size: min(vw(18, 320), 20px);
  }
}
.breadcrumbs-building {
  position: absolute;
  z-index: 2;
  @include to(850px) {
    left: 0;
  }
}
.building-progress-item-pupop {
  position: absolute;
  top: 40%;
  z-index: 20;
  // left: 40px;
  width: 245px;
  height: 255px;
  background-color: $pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
  @include to(1440px) {
    width: 170px;
    height: 155px;
    padding-left: 50px;
  }
  @include to(850px) {
    width: 150px;
    height: 180px;
    padding-left: 30px;
    left: 0;
  }
  @include to(575px) {
    width: 86px;
    height: 120px;
    padding-left: 25px;
  }
  .date-pupop {
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #f7f7f7;
    @include to(1440px) {
      font-size: 36px;
    }
    @include to(575px) {
      font-size: 22px;
    }
  }
  .month-pupop {
    font-size: 14px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #f7f7f7;
    @include to(1440px) {
      font-size: 12px;
    }
    @include to(575px) {
      font-size: 10px;
    }
  }
  .year-pupop {
    font-size: 20px;
    letter-spacing: -0.05em;
    color: #f7f7f7;
    @include to(1440px) {
      font-size: 18px;
    }
    @include to(575px) {
      font-size: 16px;
    }
  }
}

.building-scale {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 230px;
  right: 99px;
  z-index: 2;
  height: 74vh;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  @include to(1920px) {
    top: 150px;
    height: 77vh;
  }
  @include to(1440px) {
    right: 72px;
    height: 75vh;
  }
  @include to(850px) {
    right: 66px;
    top: 130px;
    height: 79vh;
  }
  @include to(575px) {
    top: 80px;
    right: 63px;
    border: none;
  }
  &-container {
    position: relative;
    height: 100%;
    left: -29px;
    @include to(1440px) {
      left: -23px;
    }
    @include to(850px) {
      left: -30px;
    }
  }
  .btn-building-close {
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $white;
    position: absolute;
    top: -7px;
    left: -88px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    &:hover {
      .close-img {
        fill: $blue;
        stroke: #ffffff;
      }
    }
    & circle {
      stroke: none;
    }
    @include to(1440px) {
      font-size: 10px;
      left: -63px;
    }
    @include to(850px) {
      font-size: 0;
      left: -20px;
    }
    @include to(575px) {
      left: 0;
    }
    .close-img {
      margin-left: 26px;
      fill: $white;
      stroke: #555568;
      width: 60px;
      height: 60px;
      transition: all 0.4s ease-in-out;
      // &:hover {
      //   fill: $blue;
      //   stroke: #ffffff;
      // }
      @include to(1440px) {
        width: 46px;
        height: 46px;
        margin-left: 20px;
      }
      @include to(850px) {
        width: 60px;
        height: 60px;
        margin-left: 20px;
      }
      @include to(575px) {
        width: 46px;
        height: 46px;
        margin-left: 20px;
      }
    }
  }
}
.building-btn-more {
  width: 14px;
  height: 14px;
  @include to(1440px) {
    width: 10px;
    height: 10px;
  }
}
.btn-building-right,
.btn-building-left {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.4s ease-in-out;
  &:hover {
    background: $blue;
  }
  @include to(1440px) {
    width: 46px;
    height: 46px;
  }
  @include to(850px) {
    width: 60px;
    height: 60px;
  }
  @include to(575px) {
    display: none;
  }
}
.btn-building-right {
  transform: rotate(180deg);
  bottom: 80px;
  @include to(1440px) {
    bottom: 66px;
  }
  @include to(850px) {
    bottom: 80px;
  }
}
.btn-building-left {
  bottom: 0;
}
.news-container-title.building-container-title {
  width: 100%;
}
.building-page.building-page-padding {
  padding-top: 0;
  @include to(850px) {
    padding-top: 50px;
  }
  @include to(575px) {
    padding-top: 15px;
  }
}
.news-container-title.building-main-title {
  width: 50%;
  @include to(850px) {
    width: 100%;
  }
}
