.document-page {
  margin: 0 auto;
  max-width: 1920px;
  padding: 30px 50px 0 190px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: flex-start;
  @include to(1360px) {
    max-width: 1326px;
    padding: 30px 50px 0 106px;
  }
  @include to(850px) {
    max-width: 768px;
    padding: 50px 50px 0 35px;
    flex-direction: column;
    .news-ornament {
      width: 0px;
      height: 0px;
    }
  }
}
.content-news.content-document {
  display: flex;
  height: 100%;
  flex: 1 1 100%;
  flex-direction: column;
}

.news-container.document-container {
  overflow-y: auto;
  height: 80vh;
  @include to(1360px) {
    height: 700px;
  }
  &::-webkit-scrollbar {
    width: 0;
  }
}

//
//
//
//
//

.news-container-text {
  display: flex;
  & img {
    width: 95px;
    height: 135px;
    margin-right: 40px;
    @include to(1360px) {
      width: 65px;
      height: 90px;
      margin-right: 30px;
    }
  }
}
.news-container-date {
  display: flex;
  & svg {
    fill: none;
    width: 12px;
    height: 12px;
    margin-right: 10px;
  }
}
.document-download {
  width: 200px;
  height: 50px;
  background-color: $main-text;
  color: $white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  @include to(1360px) {
    width: 140px;
    height: 36px;
    font-size: 10px;
  }
  @include to(850px) {
    width: 160px;
    height: 45px;
    font-size: 14px;
  }
}
.document-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.document-container-text {
  display: flex;
  align-items: center;
}
.document-link p {
  text-decoration: none;
  transition: all 0.3s ease;
}
.document-link:hover {
  // transition: 0.5s ease-in-out;
  .document-download {
    background-color: $pink;
  }
  .news-container-text {
    color: $pink;
  }
}
