.content-developer.gallery-breadcrumbs {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.gallery-title {
  color: $white;
  // font-size: 64px;
  font-size: min(vw(64, 1920), 72px);
  letter-spacing: -0.02em;
  @include to(1440px) {
    font-size: 36px;
  }
  @include to(575px) {
    font-size: min(vw(18, 320), 20px);
  }
}
.gallery-swiper-bottom {
  width: 420px;
  // height: 80px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  @include to(1440px) {
    width: 335px;
    bottom: 20px;
  }
  @include to(575px) {
    width: 300px;
    bottom: 20px;
  }
  & .swiper-container.swiperGallery {
    padding: 0;
  }
  .swiper-wrapper {
    height: 80px;
    @include to(1440px) {
      height: 70px;
    }
  }
  & img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    // opacity: 0.8;
  }

  .swiper-slide {
    width: 100px;
    height: 50px;
    // opacity: 0.4;
    @include to(1440px) {
      width: 80px;
      height: 40px;
    }
  }
  .swiper-slide::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: rgba(39, 39, 44, 0.5);
  }
  .swiper-slide-thumb-active {
    position: relative;
  }
  .swiper-slide-thumb-active::after {
    background: none;
    content: '';
    display: inline-block;
    background-image: url('../images/swipe-logo.svg');
    background-repeat: no-repeat;
    background-color: inherit;
    position: absolute;
    bottom: -52px;
    left: calc(50% - 5px);
    @include to(1440px) {
      bottom: -42px;
    }
    // transform: translateY(-20px);
  }
  .swiper-slide-thumb-active {
    transform: translateY(-20px);
  }
}
.gallery-swiper {
  position: relative;
  padding: 0;
  & .swiper-container.swiperGallery2 {
    padding: 0;
  }
  & img {
    height: 100vh;
    object-fit: cover;
  }
  .swiper-slide-active::after {
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    background: linear-gradient(180deg, rgba(39, 39, 44, 0) 0%, #27272c 100%);
  }
}
.btn-gallery {
  position: absolute;
  // transition: 0.3s ease-in-out;
  &.left-side svg {
    transform: rotate(-180deg);
  }

  svg {
    fill: $pink;
    width: 90px;
    height: 90px;
    transition: 0.3s ease-in-out;
    @include to(1440px) {
      width: 70px;
      height: 70px;
    }
  }
}
