.installments-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 150px 150px 260px;
  display: flex;
  flex-direction: column;
  @include to(1440px) {
    padding: 0 110px 150px 110px;
  }
  @include to(850px) {
    padding: 50px 35px 100px 35px;
  }
  @include to(575px) {
    padding: 30px 25px 70px 25px;
  }
  &-section {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 90px 100px 70px 147px;
    border-bottom: 2px solid #f7f7f7;
    @include to(1440px) {
      padding: 70px 0 70px 147px;
    }
    @include to(850px) {
      align-items: flex-start;
      padding: 50px 0;
    }
    @include to(575px) {
      padding: 0 0 30px 0;
      flex-direction: column;
    }
    &-item {
      width: 39%;
      font-size: 48px;
      line-height: 1.7;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: $main-text;
      @include to(1440px) {
        font-size: 36px;
      }
      @include to(850px) {
        font-size: 24px;
        width: 49%;
      }
      @include to(575px) {
        width: 100%;
        font-size: min(vw(18, 320), 20px);
      }
      & .dollar-exchange {
        padding-top: 0;
        & a {
          font-size: 13px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: $pink;
          text-decoration: none;
          & svg {
            margin-left: 20px;
            fill: $pink;
          }
        }
      }
      &-title {
        font-size: 24px;
        line-height: 1.7;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: $main-text;
        @include to(850px) {
          font-size: 20px;
        }
        @include to(575px) {
          font-size: min(vw(14, 320), 16px);
          padding-top: 30px;
        }
        & div {
          font-size: 14px;
          line-height: 1.7;
          letter-spacing: -0.05em;
          text-transform: none;
          color: #818181;
          padding-top: 20px;
          @include to(1440px) {
            font-size: 12px;
          }
        }
        & ul {
          // padding-left: 20px;
          // padding-top: 20px;
          padding: 20px 0 0 20px;
        }
        & li {
          font-size: 18px;
          line-height: 1.7;
          letter-spacing: -0.05em;
          color: #818181;
          text-transform: none;
          position: relative;
          @include to(1440px) {
            font-size: 16px;
          }
          @include to(575px) {
            font-size: min(vw(12, 320), 14px);
          }
          // list-style: disc;
          &::before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            // vertical-align: middle;
            background: $main-text;
            position: absolute;
            top: 10px;
            left: -20px;
          }
        }
      }
    }
  }
}
.installments-container-section-item-title.dollar {
  padding-right: 60px;
}

.installments-container-section:last-child {
  border: none;
  padding-bottom: 0;
}
.installments-container-section-item.installments-container-line-mobile {
  @include to(575px) {
    border-top: 2px solid #f7f7f7;
    margin-top: 30px;
  }
}
.installments-container-section-item.desktop {
  @include to(575px) {
    display: none;
  }
}
