iframe {
  border-style: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.content-developer.panorama-content {
  position: fixed;
  z-index: 2;
  width: 100%;
  // max-width: 1920px;
  // padding: 0 15px;
  margin: 0 auto;
  top: 0;
  position: relative;
  @include to(1440px) {
    // max-width: 1326px;
    padding: 0 15px;
  }
  @include to(850px) {
    // max-width: 768px;
    padding: 0 15px;
  }
}
