.payment-container {
  padding: 0 170px;
  @include to(1360px) {
    padding: 0 100px;
  }
  @include to(850px) {
    padding: 0;
  }
  &-description {
    padding: 100px 150px 70px 150px;
    display: flex;
    justify-content: space-between;
    // padding-top: 100px;
    border-bottom: 2px solid #f7f7f7;
    @include to(1360px) {
      padding: 100px 100px 70px 100px;
    }
    @include to(850px) {
      padding: 50px 0;
    }
    &-text {
      width: 44%;
      & p {
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: -0.05em;
        color: #818181;
        @include to(1360px) {
          font-size: 16px;
        }
      }
      & .text-note {
        padding-top: 20px;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: -0.05em;
        color: #818181;
        @include to(1360px) {
          font-size: 12px;
        }
      }
    }
    &-dollar {
      // width: 44%;
      // padding: 0 50px 0 60px;
      width: 42%;
      padding-right: 120px;
      @include to(1360px) {
        padding-right: 60px;
      }
      @include to(850px) {
        padding-right: 0;
      }

      & p {
        font-size: 24px;
        line-height: 1.7;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: $main-text;
      }
      & .dollar-exchange {
        padding-top: 30px;
        & a {
          font-size: 13px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: $pink;
          text-decoration: none;
          & svg {
            margin-left: 20px;
            fill: $pink;
          }
        }
      }
    }
  }
  &-price {
    padding: 70px 150px 0 150px;
    display: flex;
    justify-content: space-between;
    @include to(1360px) {
      padding: 70px 100px 0 100px;
    }
    @include to(850px) {
      padding: 50px 0 0 0;
    }
    &-section {
      width: 42%;
      & p {
        font-size: 36px;
        line-height: 1.7;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: $main-text;
        @include to(850px) {
          font-size: 24px;
        }
      }
      & .title {
        font-size: 24px;
        line-height: 1.7;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: $main-text;
        @include to(850px) {
          font-size: 20px;
        }
      }
    }
  }
}

.installments-italic {
  font-style: italic;
}
