.restaurants-ornament-main {
  position: absolute;
  width: 218px;
  height: 218px;
  bottom: -109px;
  right: calc(25% - 109px);
  z-index: -1;
  @include to(1440px) {
    width: 150px;
    height: 150px;
    bottom: -75px;
    right: calc(25% - 75px);
  }
  @include to(850px) {
    width: 100px;
    height: 100px;
    bottom: -50px;
    right: calc(25% - 50px);
  }
  @include to(575px) {
    width: 0;
    height: 0;
  }
}
.architecture-container-section.restaurants-container {
  @include to(850px) {
    padding-top: 100px;
  }
  @include to(575px) {
    order: 3;
    flex-direction: column-reverse;
    padding-top: 0;
  }
}
.architecture-btn.restaurants-btn {
  @include to(850px) {
    padding-top: 50px;
  }
  @include to(575px) {
    order: 5;
    padding-top: 20px;
  }
}
.restaurants-container-section {
  padding: 100px 80px 0 80px;
  @include to(850px) {
    padding: 100px 0 0 0;
  }
  @include to(575px) {
    order: 4;
    padding-top: 30px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 130px 0 130px;
    @include to(1440px) {
      padding: 40px 0 0 0;
    }
    @include to(575px) {
      padding: 20px 0 0 0;
      justify-content: flex-start;
    }
    & li {
      margin-right: 50px;
      font-size: 24px;
      line-height: 1.7;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      @include to(850px) {
        margin-right: 30px;
      }
      @include to(575px) {
        font-size: min(vw(14, 320), 16px);
        margin-right: 20px;
      }
      & a {
        text-decoration: none;
        color: $main-text;
      }
    }
  }
}
.architecture-container-text.restaurants-container-text {
  padding: 0 200px;
  @include to(1440px) {
    padding: 0 180px;
  }
  @include to(850px) {
    padding: 0;
  }
  @include to(575px) {
    order: 1;
  }
}
.restaurants-container-img-mobile {
  @include to(575px) {
    order: 2;
    padding: 30px 0 0 0;
  }
}
.restaurants-container-section-img-mobile {
  @include to(575px) {
    padding: 30px 0 0 0;
  }
}

.architecture-container-section-text.restaurants-container-section-text {
  @include to(575px) {
    padding-top: 20px;
  }
}
