.terraces-container {
  margin: 0 auto;
  // width: 1920px;
  padding: 75px 150px 150px 190px;
  @include to(1440px) {
    // width: 1326px;
    padding: 75px 110px 150px 110px;
  }
  @include to(850px) {
    // width: 798px;
    padding: 50px 50px 100px 50px;
  }
  @include to(575px) {
    padding: 30px 25px 70px 25px;
  }
  &-section {
    display: flex;
    justify-content: space-between;
    @include to(575px) {
      flex-direction: column;
    }

    &-img {
      width: 50%;
      @include to(575px) {
        width: 100%;
      }
    }
    &-text {
      width: 41%;
      padding-right: 37px;
      @include to(1440px) {
        padding-right: 0;
      }
      @include to(850px) {
        width: 45%;
      }
      @include to(575px) {
        width: 100%;
        padding-top: 30px;
      }
    }
    &-picture {
      position: relative;
      padding-top: 100px;
      @include to(575px) {
        padding-top: 30px;
      }
    }
  }
}
.concept-functionality-advertising-title.title-terraces {
  text-align: left;
}

.terraces-ornament {
  position: absolute;
  width: 218px;
  height: 218px;
  top: -9px;
  right: calc(25% - 109px);
  z-index: -1;
  @include to(1440px) {
    width: 150px;
    height: 150px;
    top: 25px;
    right: calc(25% - 75px);
    z-index: -1;
  }
  @include to(850px) {
    width: 100px;
    height: 100px;
    top: 50px;
    right: calc(25% - 75px);
  }
  @include to(575px) {
    width: 0;
    height: 0;
  }
}
.terraces-btn {
  padding-top: 20px;
  @include to(850px) {
    padding-top: 50px;
  }
  @include to(575px) {
    padding-top: 20px;
  }
}
