.content-web {
  background: #ffffff;
  width: 100%;
  height: auto;
  @include to(850px) {
    height: auto;
  }
}
.webcam-container {
  padding-top: 70px;

  display: flex;
  align-items: center;
  flex-direction: column;
  @include to(1440px) {
    padding-top: 70px;
  }
  @include to(850px) {
    padding-top: 50px;
  }
  @include to(575px) {
    padding-top: 30px;
  }
  &-title {
    font-size: 24px;
    line-height: 1.7;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: $main-text;
    padding: 30px 0 150px 0;
    @include to(1440px) {
      padding: 20px 0 110px 0;
    }
    @include to(575px) {
      padding: 30px 0 70px 0;
      font-size: min(vw(14, 320), 16px);
    }
  }
  &-video {
    width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    @include to(1440px) {
      width: 934px;
    }
    @include to(850px) {
      width: 710px;
    }
    @include to(575px) {
      width: 100%;
      margin: 0 auto;
    }
  }
}
video {
  width: 957px;
  height: 530px;
  @include to(1440px) {
    height: 430px;
    width: 790px;
  }
  @include to(850px) {
    height: 395px;
    width: 700px;
  }
  @include to(575px) {
    height: 150px;
    width: 270px;
  }
}
.icon--ornament-web1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  top: calc(50% - 75px);
  @include to(850px) {
    height: 0;
    width: 0;
  }
}
.icon--ornament-web2 {
  position: absolute;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
  top: calc(50% - 75px);
  @include to(850px) {
    height: 0;
    width: 0;
  }
}
