.sideform
  .form-container
    <svg class="form-btn-close js-close" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="23" cy="23" r="23"/>
    <path d="M28 28L18 18M18 28L28 18L18 28Z"/>
    </svg>

    h4.header-form-title Замовити дзвінок
    p.header-form-text Якщо у вас виникли питання, залиште свій номер і ми передзвонимо вам:
    //- .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
    //-   .input-message(data-input-message) Ім`я*
    //-   input(type='text' name="name").form-field__input

    form(data-form-homepage autocomplete="off")
      .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
        input(type='text' name="name" placeholder="").form-field__input
        .form-field-message.form-field-message-name  Ім`я*
          //- span.modal-icon1.modal-icon-placeholder Ваше ім’я
        .input-message(data-input-message)

      .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
        input(type='text' name="phone" placeholder="Телефон*").form-field__input
        .form-field-message.form-field-message-phone Телефон*
        .mask-absolute.js-mask-absolute
        .input-message(data-input-message)

    
        //- button(type='submit' class="footer-button hover" data-btn-submit="data-btn-submit").link
        //-   span(data-btn-submit-text="data-btn-submit-text") Надіслати    

        button( type="submit" data-btn-submit="data-btn-submit").form-btn
          span(data-btn-submit-text="data-btn-submit-text").form-btn-text Надіслати




//- form(data-home-contact autocomplete="off")
//-     .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
//-       input(type='text' name="name" placeholder="").form-field__input.header-form
//-       .form-field-message.form-field-message-name Ім`я*
//-       .input-message(data-input-message)


//-     //- .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
//-     //-   input(type='text' name="phone").form-field__input
//-     //-   .input-message(data-input-message) Телефон*
//-     .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
//-       input(type='text' name="phone" placeholder="+38 (___) ___ __ __").form-field__input.header-form
//-       .form-field-message Телефон*
//-       .mask-absolute.js-mask-absolute
//-       .input-message(data-input-message)



//-     button( type="submit" data-btn-submit).form-btn
//-       span(data-btn-submit-text).form-btn-text Надіслати

      //- button( type="submit" data-btn-submit).home-content__link.link
      //- span(data-btn-submit-text).link__text.usn Надіслати
      //- span.link-ico.link-ico--margin
      //-   span.link-ico__stic.bgc--wc
      //-   +svg('arrow').link__ico.fill--wc
