header.header
  .header-content
    .header-left 
      a(href='tel:+380980805000').header-left-link 
        +svg('phone').header-icon
        div +38 (098) 080 5000
      a(href='#').header-left-flat  обрати квартиру
    a(href='index.html').logo-link
      +svg('Logo')
    .header-right 
      button(type='button').header-right-call Замовити дзвінок
      .header-menu.js-menu-open
        span Меню
        +svg('menu').header-icon
      