extends ../layout/main
	
block meta
  title= '404'
  meta(name='description', content='')
block head
  link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  //- script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  //- script(defer src='./assets/scripts/header.js')
  //- script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/script.js')

block content
  .container-404
    h1.title-404 404
    h2.text-404 Упс, щось пішло не так =(
    .link-container
      .link-404 
        a(href="#") повернутися Назад
      .link-404
        a(href="index.html") На головну
	
block header
  include ../includes/header.pug

 
//- block meta
//-   title= 'Главная'
//-   meta(name='description', content='')
//- block head
//-     link(rel='stylesheet', href="./assets/styles/main.min.css")
//- block scripts
//-   script(defer src='./assets/scripts/vendors.bundle.js')
//-   script(defer src='./assets/scripts/index.bundle.js')
//-   //- script(defer src='./assets/scripts/index.js')
//-   script(defer src='./assets/scripts/libs.js')
//-   //- script(defer src='./assets/scripts/header.js')
//-   //- script(defer src='./assets/scripts/home.js')
//-   script(defer src='./assets/scripts/script.js')
//- block content 
//-   .container-404
//-     h1.title-404 404
//-     h2.text-404 Упс, щось пішло не так =(
//- 	.link-container
//-   	a(href="#").link-404 повернутися Назад
//-  	  a(href="index.html").link-404 На головну
	
//- block header
//-   include ../includes/header.pug




