
extends ../layout/main
block variable
 
block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/script.js')
block content 
  .content-developer
    ul.breadcrumbs
      li.breadcrumbs-item
        a(href="index.html").breadcrumbs-link головна
      li.breadcrumbs-item
        a(href="menu-contacts.html").breadcrumbs-link-active Архiтектура
    .news-page
      .news-container-title
        h3.news-title Архiтектура
    .philosophy-container 
        .architecture-container-text
          h4.concept-functionality-advertising-title Мультифункціональний комплекс BOGUN -
            span.color &nbsp; це
            span.italic.color &nbsp; новий
            span.color &nbsp; подих в архітектурі Вінниці.
        .philosophy-container-img     
          +svg('ornament-architecture').architecture-ornament-main
          img(src="/src/assets/images/architecture1.jpg", alt="")
        .architecture-container-section
          .architecture-container-section-text
            p Команда архітекторів на чолі з Олександром Коротких пропрацювала кожну деталь нашого масштабного проєкту. Сміливий дизайн комплексу BOGUN створений, щоб притягувати погляди.
          .architecture-container-section-img  
            img(src="/src/assets/images/architecture2.jpg", alt="")
            +svg('ornament-concept1').architecture-ornament
        .architecture-container-section.architecture-container-section-reverse
          .architecture-container-section-text
            p Команда архітекторів на чолі з Олександром Коротких пропрацювала кожну деталь нашого масштабного проєкту. Сміливий дизайн комплексу BOGUN створений, щоб притягувати погляди.
          .architecture-container-section-img  
            img(src="/src/assets/images/architecture2.jpg", alt="")
            +svg('ornament-concept2').architecture-ornament
        .architecture-btn
          .concept-functionality-advertising-btn
            .concept-btn 
              a(href="location.html") Дивитися локацію


block header
  include ../includes/header.pug

block footer
  include ../includes/footer.pug
