
extends ../layout/main
block variable
block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  //- script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  //- script(defer src='./assets/scripts/header.js')
  //- script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/script.js')
block content 
  .content-news.content-document
    ul.breadcrumbs
      li.breadcrumbs-item
        a(href="index.html").breadcrumbs-link головна
      li.breadcrumbs-item
        a(href="document.html").breadcrumbs-link-active Документи
    .document-page
      .news-container-title
        h3.news-title Документи
      .news-container.document-container(data-disable-page-scroll)
        a(href="#").news-container-info.document-link 
          .news-container-text.document-container-text 
            img(src="./assets/images/doc1.jpg", alt="")
            p Лiцензiя Г. П. Командор ( повiдомлення, перелiк робiт, Витяг iз сайту ДАБI )
          .news-container-date 
            +svg('clock')
            p 10.12.2020
          .document-download Завантажити
        hr.news-container-line
        a(href="#").news-container-info.document-link 
          .news-container-text.document-container-text 
            img(src="./assets/images/doc2.jpg", alt="")
            p Экспертиза проекта
          .news-container-date 
            +svg('clock')
            p 10.12.2020
          .document-download Завантажити
        hr.news-container-line
        a(href="#").news-container-info.document-link 
          .news-container-text.document-container-text 
            img(src="./assets/images/doc3.jpg", alt="")
            p Договір оренди земельної ділянки від 12.06.2020р
          .news-container-date 
            +svg('clock')
            p 10.12.2020
          .document-download Завантажити
        hr.news-container-line
        a(href="#").news-container-info.document-link 
          .news-container-text.document-container-text 
            img(src="./assets/images/doc4.jpg", alt="")
            p 2020-11-26 ГП Цедика 14А Стадия П - КОРРЕКТ-2 ГП
          .news-container-date 
            +svg('clock')
            p 10.12.2020
          .document-download Завантажити
        hr.news-container-line
        a(href="#").news-container-info.document-link 
          .news-container-text.document-container-text 
            img(src="./assets/images/doc2.jpg", alt="")
            p Экспертиза проекта
          .news-container-date 
            +svg('clock')
            p 10.12.2020
          .document-download Завантажити
        hr.news-container-line
        a(href="#").news-container-info.document-link 
          .news-container-text.document-container-text 
            img(src="./assets/images/doc3.jpg", alt="")
            p Договір оренди земельної ділянки від 12.06.2020р
          .news-container-date 
            +svg('clock')
            p 10.12.2020
          .document-download Завантажити
        hr.news-container-line
      
      +svg('ornament-doc').news-ornament

block header
  include ../includes/header.pug

block footer
  include ../includes/footer.pug


