
extends ../layout/main
block variable
block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  //- script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  //- script(defer src='./assets/scripts/header.js')
  //- script(defer src='./assets/scripts/home.js')
  //- script(defer src='./assets/scripts/scroll.js')
  script(defer src='./assets/scripts/script.js')
  script(defer src='./assets/scripts/map.js')
block content
  .content-developer
    ul.breadcrumbs
      li.breadcrumbs-item
        a(href="index.html").breadcrumbs-link головна
      li.breadcrumbs-item
        a(href="infrastructure.html").breadcrumbs-link-active Інфраструктура
    .infrastructure-page
        h3.infrastructure-title Інфраструктура
        a(href="#").desktop
          +svg('environment')
        .infrastructure-page-adress.desktop
          +svg('environment-logo')
          p м. Вінниця вул. Пушкіна 4
 
  //- <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10421.297196875943!2d28.4670973!3d49.2323404!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6bf2036c603ed734!2z0J_QvtC00L7Qu9GM0LU!5e0!3m2!1sru!2sua!4v1626766603907!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  .map-wrap
    #map.map
    .map-wrap__legend.opened(data-mob-accordeon)
      .map-btn.map-wrap__legend-title Умовні позначення
        <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 4.94382V10L10 4.94382L0 0V4.94382Z"/>
        </svg>
      ul.infrastructure-map-list.map-wrap__legend-markers-wrap 
        li.infrastructure-map-item(data-marker data-type="main" data-category="main")
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#555568"/>
            <path d="M20.363 16.4619L20.2459 16.3794L22 15.4794L20.2459 14.5793L20.363 14.4969C22.5076 13.3941 21.7267 10 19.3493 10H19.2712H8.00312L14.982 13.681L11.4785 15.5173L8 13.7354V15.5206V17.3454L11.477 15.5223L14.982 17.3603L8.00312 21H19.2712H19.3493C21.7267 21 22.5076 17.6059 20.363 16.4619Z" fill="white"/>
          </svg>
          p ЖК Bogun City
        li.infrastructure-map-item(data-marker data-type="cafe" data-category="cafe") 
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#ECBA6F"/>
            <path d="M21.6516 19.9215L16.1536 14.4235L9.73014 8H9.22814L9.12564 8.26046C8.8551 8.94794 8.73951 9.65108 8.7914 10.2938C8.85056 11.0264 9.12887 11.6607 9.59631 12.1281L14.6108 17.1426L15.2722 16.4812L19.9081 21.665C20.3693 22.1262 21.1631 22.1536 21.6516 21.665C22.1323 21.1843 22.1323 20.4022 21.6516 19.9215Z" fill="white"/>
            <path d="M12.2878 15.9812L8.3605 19.9085C7.87983 20.3892 7.87983 21.1714 8.3605 21.652C8.81712 22.1086 9.60705 22.149 10.104 21.652L14.0314 17.7247L12.2878 15.9812Z" fill="white"/>
            <path d="M21.4222 10.3348L19.1944 12.5626L18.6132 11.9814L20.841 9.75361L20.2598 9.17244L18.0321 11.4002L17.4509 10.8191L19.6787 8.59127L19.0976 8.01013L16.1917 10.916C15.8362 11.2715 15.624 11.7435 15.5939 12.2451C15.5864 12.3722 15.5576 12.4972 15.5098 12.6161L17.3974 14.5038C17.5163 14.4559 17.6413 14.4271 17.7684 14.4196C18.2701 14.3896 18.7421 14.1773 19.0976 13.8218L22.0034 10.916L21.4222 10.3348Z" fill="white"/>
          </svg>
          p Кафе, рестораны
        li.infrastructure-map-item(data-marker data-type="pharm" data-category="pharm")   
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#7AD6AA"/>
            <path d="M13 9L13.2857 13.2857L9 13V17L13.2857 16.7143L13 21H17L16.7143 16.7143L21 17V13L16.7143 13.2857L17 9H13Z" fill="white"/>
          </svg>
          p Аптеки
        li.infrastructure-map-item(data-marker data-type="shop" data-category="shop") 
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#AF82C4"/>
            <path d="M9 13.5592C9 14.3552 9.51893 15.0183 10.2188 15.2096V20.8289H9.40625C9.18248 20.8289 9 21.0202 9 21.2566C9 21.493 9.18251 21.6842 9.40625 21.6842H21.5938C21.8191 21.6842 22 21.493 22 21.2566C22 21.0202 21.8191 20.8289 21.5938 20.8289H20.7812V15.2096C21.4811 15.0183 22 14.3552 22 13.5592V13.1316H9V13.5592ZM17.125 15.2697C18.0232 15.2697 18.75 14.5038 18.75 13.5592C18.75 14.3552 19.2689 15.0183 19.9688 15.2096V20.8289H13.875V15.2697C14.7732 15.2697 15.5 14.5038 15.5 13.5592C15.5 14.5038 16.2284 15.2697 17.125 15.2697ZM13.4688 15.2096V20.8289H11.0312V15.2096C11.7311 15.0183 12.25 14.3552 12.25 13.5592C12.25 14.3552 12.7689 15.0183 13.4688 15.2096ZM20.375 9.28289H10.625L9 12.7039H22L20.375 9.28289ZM12.4325 10.2334L11.62 11.9439C11.5835 12.0191 11.5121 12.0625 11.4375 12.0625C11.4073 12.0625 11.3764 12.0558 11.347 12.04C11.247 11.9873 11.2058 11.8587 11.2566 11.7535L12.0691 10.043C12.1198 9.93771 12.2412 9.89513 12.3412 9.9469C12.442 9.99953 12.4817 10.1281 12.4325 10.2334ZM14.0575 10.2334L13.245 11.9439C13.2085 12.0191 13.1371 12.0625 13.0625 12.0625C13.0323 12.0625 13.0014 12.0558 12.972 12.04C12.872 11.9873 12.8308 11.8587 12.8816 11.7535L13.6941 10.043C13.7448 9.93771 13.8671 9.89513 13.9662 9.9469C14.067 9.99953 14.1067 10.1281 14.0575 10.2334ZM15.7031 11.8487C15.7031 11.9673 15.6127 12.0625 15.5 12.0625C15.3881 12.0625 15.2969 11.9673 15.2969 11.8487V10.1382C15.2969 10.0195 15.3881 9.92434 15.5 9.92434C15.6127 9.92434 15.7031 10.0196 15.7031 10.1382V11.8487ZM18.0359 12.0358C18.0042 12.0542 17.9708 12.0625 17.9375 12.0625C17.8661 12.0625 17.7963 12.0224 17.7598 11.9514L16.8711 10.2409C16.8171 10.1373 16.8536 10.007 16.952 9.95107C17.0489 9.89427 17.1742 9.93102 17.2282 10.0354L18.1168 11.7459C18.1692 11.8495 18.1343 11.9798 18.0359 12.0358ZM19.6529 12.0399C19.6244 12.0558 19.5942 12.0625 19.5625 12.0625C19.4879 12.0625 19.4165 12.0191 19.3816 11.9439L18.5691 10.2334C18.5183 10.1281 18.5596 9.9995 18.6595 9.94687C18.7579 9.89425 18.8817 9.93685 18.9325 10.0429L19.745 11.7535C19.7942 11.8587 19.7545 11.9873 19.6529 12.0399ZM12.4531 18.3283V17.3428C12.3341 17.2676 12.25 17.1373 12.25 16.9803C12.25 16.7439 12.4325 16.5527 12.6562 16.5527C12.8816 16.5527 13.0625 16.7439 13.0625 16.9803C13.0625 17.1373 12.9792 17.2676 12.8594 17.3428V18.3283C12.9792 18.4035 13.0625 18.5338 13.0625 18.6908C13.0625 18.9272 12.8816 19.1184 12.6562 19.1184C12.4325 19.1184 12.25 18.9272 12.25 18.6908C12.25 18.5338 12.3341 18.4035 12.4531 18.3283ZM10.625 8.42763C10.625 8.19126 10.8075 8 11.0312 8H19.9688C20.1941 8 20.375 8.19126 20.375 8.42763C20.375 8.664 20.1941 8.85526 19.9688 8.85526H11.0312C10.8075 8.85526 10.625 8.664 10.625 8.42763ZM16.1205 17.5591L15.8333 17.2567L16.9822 16.0473L17.2694 16.3497L16.1205 17.5591ZM16.1205 18.7685L15.8333 18.4661L18.1311 16.0473L18.4183 16.3497L16.1205 18.7685ZM18.1311 17.2567L18.4183 17.5591L17.2694 18.7685L16.9822 18.4661L18.1311 17.2567Z" fill="white"/>
          </svg>
          p Магазини
        li.infrastructure-map-item(data-marker data-type="park" data-category="park") 
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#ADD17E"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7112 20.5844C20.7216 20.6967 20.7142 20.8104 20.7142 20.9401C20.8973 20.9401 21.1617 20.9401 21.3508 20.9401C21.358 20.7834 21.3653 20.6261 21.374 20.4386C21.8837 20.4923 22.3311 20.5094 22.8046 20.6965C22.8076 20.7237 22.8104 20.7509 22.8133 20.7778C22.6943 20.8177 22.578 20.8799 22.4562 20.8937C21.7259 20.9767 20.9961 21.0907 20.2635 21.1159C18.3669 21.1809 16.4687 21.2394 14.5715 21.2359C12.6476 21.2323 10.7213 21.198 8.80699 20.9643C8.59549 20.9385 8.38679 20.8871 8.17809 20.8419C8.12937 20.8313 8.08608 20.7964 8 20.752C8.2375 20.5632 8.49229 20.5639 8.72766 20.5316C9.15757 20.4725 9.59094 20.4371 10.0238 20.4049C10.1515 20.3952 10.2083 20.343 10.2562 20.2316C10.6726 19.262 10.8797 18.2464 10.9245 17.1962C10.964 16.2646 10.9016 15.3396 10.7233 14.4233C10.7159 14.3851 10.7057 14.3473 10.6998 14.3228C10.4707 14.4037 10.2544 14.5148 10.0258 14.5555C8.93866 14.7484 8.05432 13.7062 8.41164 12.6599C8.45098 12.5448 8.44423 12.4732 8.36852 12.3758C7.90668 11.7833 7.97218 10.9444 8.51896 10.4303C8.60471 10.3499 8.64059 10.276 8.63812 10.157C8.61755 9.21896 9.31887 8.56701 10.2513 8.64009C10.3211 8.64536 10.418 8.6024 10.4652 8.54874C11.0642 7.86882 11.9604 7.81532 12.6369 8.41855C12.6848 8.46118 12.7947 8.48093 12.8536 8.4569C13.9549 8.00938 15.0183 8.80896 14.9067 10.0006C14.9005 10.0677 14.9447 10.167 14.9987 10.2086C15.8205 10.8443 15.8169 11.9596 14.9836 12.5909C14.9074 12.6487 14.8509 12.6898 14.8687 12.8125C14.9545 13.4098 14.7451 13.9001 14.2518 14.2391C13.7638 14.5746 13.2396 14.5805 12.7139 14.3048C12.6798 14.287 12.6438 14.2724 12.5723 14.2396C12.5085 14.6189 12.4339 14.9758 12.3906 15.3365C12.1962 16.9541 12.3602 18.5353 12.8823 20.0805C12.9362 20.2403 13.0116 20.2814 13.1693 20.2712C13.4007 20.2559 13.5329 20.2673 13.7887 20.2673C13.7887 20.4933 13.7944 20.7517 13.7944 20.9859C13.9875 20.9859 14.3162 20.9857 14.5112 20.9857C14.5112 20.8043 14.4989 20.6019 14.4989 20.6019C14.4989 20.6019 14.5519 20.6006 14.5162 20.5943C14.5616 20.6055 14.5351 20.5848 14.5351 20.5848C14.5351 20.5848 14.5563 20.5415 14.5613 20.5943C14.7382 20.5943 15.0353 20.6095 15.2186 20.6095C15.2259 20.5122 15.2287 20.3678 15.239 20.2296C16.8629 20.2635 18.3516 20.2892 19.9714 20.3229C19.9911 20.4169 19.9774 20.5668 19.9932 20.6419C20.1555 20.6419 20.5211 20.6495 20.6429 20.6495C20.6552 20.5789 20.6401 20.3567 20.6401 20.3567C20.6401 20.3567 20.6635 20.3601 20.7031 20.3502" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5768 19.0521C21.4575 19.0624 21.3668 19.0509 21.2578 19.0603C21.2578 19.5216 21.2578 19.9751 21.2578 20.4285C21.2578 20.5085 21.2585 20.5887 21.2588 20.6687C21.2598 20.9379 21.2711 20.8711 21.0134 20.8803C20.8493 20.8861 20.7805 20.8927 20.7835 20.7236C20.7927 20.1765 20.7869 19.6291 20.7869 19.0651C20.7064 19.0651 20.6386 19.0651 20.5445 19.0651C20.5445 19.4812 20.5468 19.8936 20.5422 20.3061C20.5413 20.3801 20.5232 20.5123 20.4941 20.5177C20.3736 20.5408 20.2443 20.5347 20.1218 20.5154C20.0988 20.512 20.0813 20.3997 20.0808 20.3374C20.0772 19.9172 20.0788 19.4971 20.0788 19.0619C18.4161 19.0619 16.7694 19.0619 15.0972 19.0619C15.0972 19.5513 15.0972 20.035 15.0972 20.5128C15.0542 20.5265 15.0361 20.536 15.0172 20.5377C14.6279 20.576 14.624 20.5699 14.6278 20.1858C14.6314 19.8135 14.6286 19.4412 14.6286 19.0586C14.5464 19.0586 14.49 19.0586 14.4069 19.0586C14.4069 19.457 14.4064 19.8488 14.407 20.2406C14.4072 20.401 14.4005 20.5622 14.4135 20.7217C14.4307 20.932 14.3093 20.9365 14.1506 20.9396C13.99 20.943 13.9266 20.9029 13.9305 20.7286C13.9417 20.2407 13.9348 19.7524 13.9342 19.2644C13.9342 19.1992 13.9289 19.134 13.9256 19.0593C13.8501 19.0516 13.8249 19.0539 13.707 19.0519C13.707 18.908 13.7204 18.8277 13.7434 18.7239C13.9906 18.3664 14.2681 18.0133 14.2681 18.0133C14.2681 18.0133 14.6602 18.0171 14.9989 18.0171C16.9911 18.0171 18.9837 18.0193 20.976 18.0133C21.0489 18.013 21.16 18.0133 21.16 18.0133C21.16 18.0133 21.2458 18.1257 21.2774 18.2043C21.3607 18.4118 21.469 18.6093 21.5565 18.8152C21.5811 18.8725 21.5699 18.9638 21.5768 19.0521Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.1611 16.8912C21.1611 17.0346 21.1611 17.0812 21.1611 17.2375C18.8651 17.2375 16.5735 17.2375 14.2695 17.2375C14.2695 17.0924 14.2695 17.0464 14.2695 16.8912C16.5656 16.8912 18.8578 16.8912 21.1611 16.8912Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.1607 17.4533C21.1607 17.606 21.1667 17.673 21.1667 17.8364C21.0965 17.8402 21.0266 17.8473 20.957 17.8473C18.7995 17.848 16.6449 17.8292 14.4871 17.8373C14.3952 17.8376 14.2759 17.8407 14.2759 17.8407C14.2759 17.8407 14.271 17.7729 14.27 17.6815C14.269 17.5785 14.27 17.4396 14.27 17.4396C14.27 17.4396 14.4016 17.4393 14.4818 17.4396C16.6393 17.4473 18.7969 17.4439 20.9543 17.4439C21.0193 17.444 21.0844 17.4496 21.1607 17.4533Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2922 16.2662C16.5862 16.2662 18.8637 16.2662 21.1566 16.2662C21.1566 16.4177 21.1553 16.5149 21.1553 16.6807C21.0756 16.6807 21.004 16.6807 20.9326 16.6807C18.8204 16.6805 16.7084 16.6807 14.5962 16.6803C14.4202 16.6803 14.2871 16.6807 14.2871 16.6807C14.2871 16.6807 14.2803 16.5085 14.2922 16.2662Z" fill="white"/>
          </svg>
          p Парки 
        li.infrastructure-map-item(data-marker data-type="sport" data-category="sport")   
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#C4AC88"/>
            <path d="M21.7589 12.3031L20.6005 11.1448L21.4713 10.2743C21.5483 10.1974 21.5915 10.0932 21.5915 9.9842C21.5915 9.8752 21.5483 9.77099 21.4713 9.69405L20.3054 8.52819C20.1515 8.37429 19.879 8.37429 19.7251 8.52819L18.8547 9.39897L17.6961 8.24039C17.3756 7.91987 16.8559 7.91987 16.5354 8.24039C16.2148 8.56091 16.2148 9.08061 16.5354 9.40116L20.5981 13.4639C20.9186 13.7844 21.4383 13.7844 21.7589 13.4639C22.0794 13.1434 22.0794 12.6237 21.7589 12.3031Z" fill="white"/>
            <path d="M13.4639 20.607L9.40119 16.5442C9.08061 16.2237 8.56097 16.2237 8.24039 16.5442C7.91987 16.8648 7.91987 17.3845 8.24039 17.705L9.39895 18.8636L8.52986 19.7323C8.4529 19.8093 8.40961 19.9135 8.40961 20.0225C8.40961 20.1315 8.4529 20.2357 8.52986 20.3126L9.69572 21.4781C9.77586 21.5583 9.88086 21.5984 9.98587 21.5984C10.0909 21.5984 10.1959 21.5583 10.276 21.4781L11.1448 20.6094L12.3031 21.7678C12.6236 22.0883 13.1433 22.0883 13.4639 21.7678C13.7845 21.4472 13.7845 20.9275 13.4639 20.607Z" fill="white"/>
            <path d="M15.3744 12.8835L12.8828 15.3836L14.624 17.1248L17.1156 14.6247L15.3744 12.8835Z" fill="white"/>
            <path d="M20.5974 14.6247L15.3739 9.40116C15.0533 9.08064 14.5336 9.08064 14.2131 9.40116C13.8925 9.72173 13.8925 10.2414 14.2131 10.562L19.4366 15.7855C19.7571 16.106 20.2768 16.106 20.5974 15.7855C20.918 15.465 20.918 14.9453 20.5974 14.6247Z" fill="white"/>
            <path d="M15.7849 19.4462L10.5613 14.2227C10.2408 13.9022 9.72111 13.9022 9.40059 14.2227C9.08001 14.5433 9.08001 15.063 9.40059 15.3835L14.6241 20.607C14.9446 20.9275 15.4643 20.9275 15.7849 20.607C16.1055 20.2865 16.1055 19.7668 15.7849 19.4462Z" fill="white"/>
          </svg>
          p Спорт
        li.infrastructure-map-item(data-marker data-type="education" data-category="education") 
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#8BBED3"/>
            <path d="M21.9378 17.0839C20.9917 17.1422 19.7478 18.0873 18.5481 18.6307C17.0768 19.2961 14.7875 18.7613 14.7872 18.7613C15.1411 18.5955 16.5762 18.2537 16.8651 18.1264C18.4013 17.4507 18.2704 16.0416 17.539 16.0534C16.5729 16.0697 16.0047 16.307 14.0761 16.57C12.6141 16.7687 10.885 16.696 10.0557 17.0126C8.88497 17.46 7 20.4686 7 20.4686L9.91495 23.2939C9.91495 23.2939 11.7202 21.5163 12.5981 21.5163C14.5996 21.5163 14.6802 21.4888 16.538 21.3884C17.3286 21.3462 17.4929 21.3137 17.9455 21.1613C20.3543 20.347 22.9404 18.1783 22.988 17.9173C23.0975 17.3133 22.4367 17.0528 21.9378 17.0839Z" fill="white"/>
            <path d="M9.91515 15.0379C9.99546 15.0894 10.0959 15.0974 10.1819 15.0586C11.7423 14.3577 13.3242 14.3577 14.8842 15.0586C14.9573 15.0908 15.0414 15.0908 15.1146 15.0586C16.6747 14.3577 18.2569 14.3577 19.8168 15.0586C19.8527 15.0747 19.8924 15.0831 19.931 15.0831C19.9847 15.0831 20.0379 15.0678 20.0838 15.0379C20.1634 14.9866 20.2117 14.8981 20.2117 14.8029V7.82391C20.2117 7.63274 20.0497 7.56926 20.0445 7.56703C19.2077 7.1909 18.3491 7 17.4931 7C16.7402 7 15.9848 7.14893 15.2431 7.44091V10.8668C15.2431 11.0015 15.1345 11.1107 14.9992 11.1107C14.865 11.1107 14.7553 11.0015 14.7553 10.8668V7.44091C14.0144 7.14893 13.2591 7 12.506 7C11.6504 7 10.7914 7.1909 9.95408 7.56703C9.94903 7.56926 9.78711 7.65234 9.78711 7.82391V14.8029C9.78706 14.8981 9.83519 14.9865 9.91515 15.0379ZM10.3475 13.4775C11.0594 13.196 11.784 13.0529 12.506 13.0529C13.321 13.0529 14.1414 13.2352 14.9423 13.5953C14.9782 13.6114 15.0204 13.6114 15.0564 13.5953C15.8575 13.2352 16.6778 13.0529 17.4931 13.0529C18.2147 13.0529 18.9394 13.196 19.6511 13.4775V14.3836C18.9302 14.1119 18.1967 13.9746 17.4647 13.9746C16.6379 13.9746 15.809 14.1499 14.9992 14.497C14.1898 14.1499 13.3609 13.9746 12.5336 13.9746C11.8019 13.9746 11.0686 14.1119 10.3474 14.3836L10.3475 13.4775Z" fill="white"/>
          </svg>
          p Освіта
        li.infrastructure-map-item(data-marker data-type="school" data-category="school") 
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#63A292"/>
            <path d="M14.059 20.5089L13.9704 18.7548C13.7638 18.797 13.5795 18.843 13.4252 18.8864C13.0849 18.9821 12.738 18.8487 12.5417 18.5801C12.386 18.3668 12.3429 18.0997 12.4234 17.8475C12.6092 17.2657 12.87 16.7409 13.1464 16.2891L12.9346 15.7142L13.0894 12.3749L13.4554 12.6194L13.5511 12.476V12.4775L14.2378 11.5501L12.6489 10.4629C12.5059 10.365 12.3366 10.3125 12.1631 10.3125H10.1911C9.91108 10.3125 9.6485 10.4489 9.48742 10.6781L7.88149 12.9634L6.18452 14.7834C5.93925 15.0464 5.93568 15.4614 6.1907 15.715C6.45767 15.9805 6.88819 15.9696 7.14184 15.6974L8.81506 13.903C8.86765 13.845 8.89951 13.8171 8.93948 13.7599L9.31287 13.2259L9.17225 16.2627C8.89017 16.8428 8.26931 18.1194 8.08817 18.4919C8.06016 18.5494 8.03942 18.6102 8.02638 18.6728L7.32998 22.0372C7.24374 22.4542 7.51167 22.862 7.9286 22.9484C8.34457 23.0345 8.75326 22.7675 8.83977 22.3498L9.51667 19.0796C9.72816 18.6447 10.3428 17.3807 10.544 16.9672L11.7767 17.0313C11.9813 17.5868 12.2367 18.2802 12.429 18.8024L12.6023 22.2325C12.6296 22.7741 13.189 23.1091 13.6735 22.9034C13.4419 22.56 13.3826 22.1103 13.5558 21.7002L14.059 20.5089Z" fill="white"/>
            <path d="M11.3556 9.91943C12.1543 9.96091 12.848 9.34773 12.8901 8.53653C12.932 7.73095 12.3129 7.04389 11.5074 7.00201C10.7018 6.96012 10.0146 7.5792 9.9727 8.38478C9.93068 9.19488 10.5555 9.87782 11.3556 9.91943Z" fill="white"/>
            <path d="M14.3899 18.681L14.3084 19.2446C14.2849 19.4064 14.316 19.5707 14.3954 19.7123L14.8535 18.6276C14.6924 18.641 14.5374 18.6593 14.3899 18.681Z" fill="white"/>
            <path d="M16.7834 20.627L16.0996 22.2458L16.3733 22.6436C16.6057 22.9815 17.0668 23.0652 17.4027 22.8341C17.7396 22.6024 17.8249 22.1416 17.5932 21.8047L16.7834 20.627Z" fill="white"/>
            <path d="M15.4351 18.6351L14.0409 21.936C13.8819 22.3125 14.0582 22.7469 14.4349 22.9061C14.8108 23.0647 15.2456 22.8895 15.4049 22.5121L16.9527 18.8476C16.4835 18.7087 15.976 18.6376 15.4351 18.6351Z" fill="white"/>
            <path d="M18.3856 8.98546C18.3856 9.76027 17.7576 10.3883 16.9829 10.3883C16.2081 10.3883 15.5801 9.76027 15.5801 8.98546C15.5801 8.21079 16.2081 7.58264 16.9829 7.58264C17.7576 7.58264 18.3856 8.21079 18.3856 8.98546Z" fill="white"/>
            <path d="M23.4383 11.5596C19.7771 11.1254 17.2444 10.8532 16.1396 10.7374C15.7528 10.6969 15.3738 10.864 15.1426 11.1766L13.5725 13.2996L13.5089 13.3677L13.4173 15.3472L14.5356 14.1477C14.552 14.13 14.5674 14.1115 14.5818 14.0921L14.9467 13.5994C14.9264 14.041 14.9084 14.4332 14.8881 14.8753C14.8881 14.8753 13.4588 16.1357 12.8669 17.9894C12.7813 18.2573 13.0277 18.5134 13.2982 18.4373C13.7915 18.2986 14.5487 18.1378 15.4059 18.1378C16.2343 18.1378 17.1562 18.2881 18.0236 18.7539C18.3941 18.9529 18.7782 19.0383 19.1642 19.0383C20.8122 19.0383 22.5001 17.4812 23.3666 16.5445C23.5615 16.334 23.3762 15.9975 23.0938 16.0473C22.6562 16.1242 22.0908 16.1946 21.4891 16.1946C20.3001 16.1946 18.9684 15.9195 18.1954 14.8753C18.205 14.6657 18.3022 12.5488 18.3168 12.2312L23.2885 12.8218C23.3139 12.8248 23.3392 12.8263 23.3643 12.8263C23.6818 12.8263 23.9562 12.5888 23.9946 12.2658C24.036 11.9171 23.787 11.601 23.4383 11.5596Z" fill="white"/>
          </svg>
          p Школи танцю 
        li.infrastructure-map-item(data-marker data-type="" data-category="") 
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#DDA6A6"/>
            <path d="M22.0618 14.3569L19.2494 16.1425C19.2494 15.6005 18.9907 15.1211 18.5904 14.7934C19.5433 14.2466 20.1869 13.2614 20.1869 12.1248C20.1869 10.399 18.7179 9 16.9058 9C15.0937 9 13.6247 10.399 13.6247 12.1248C13.6247 13.0002 14.0048 13.7895 14.6142 14.3569H12.8949C13.3439 13.8823 13.6247 13.2605 13.6247 12.5712C13.6247 11.0919 12.3657 9.89281 10.8124 9.89281C9.259 9.89281 8 11.0919 8 12.5712C8 13.3783 8.38295 14.0935 8.97588 14.5845C8.39701 14.8885 8 15.4684 8 16.1425V19.7137C8 20.6998 8.83949 21.4993 9.8749 21.4993H17.3745C18.4099 21.4993 19.2494 20.6998 19.2494 19.7137L22.0618 21.4993C22.5797 21.4993 22.9992 21.0998 22.9992 20.6065V15.2497C22.9992 14.7564 22.5797 14.3569 22.0618 14.3569ZM10.8124 14.3569C9.77694 14.3569 8.93745 13.5573 8.93745 12.5712C8.93745 11.5851 9.77694 10.7856 10.8124 10.7856C11.8478 10.7856 12.6873 11.5851 12.6873 12.5712C12.6873 13.5573 11.8478 14.3569 10.8124 14.3569ZM16.9058 14.3618C15.6084 14.3618 14.557 13.36 14.557 12.1248C14.557 10.8892 15.6088 9.88791 16.9058 9.88791C18.2027 9.88791 19.2546 10.8892 19.2546 12.1248C19.2546 13.3605 18.2032 14.3618 16.9058 14.3618Z" fill="white"/>
          </svg>
          p Кінотеатри
        li.infrastructure-map-item(data-marker data-type="" data-category="") 
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#9FC9B5"/>
            <path d="M20.5023 11.5186C20.3848 10.37 20.1977 9.47561 19.9015 9.12408C18.6807 7.67866 10.1285 7.57289 9.15753 9.12408C8.92001 9.50412 8.75343 10.3953 8.64163 11.5205C8.28091 11.563 8 11.8667 8 12.2385V13.6456C8 13.9585 8.19825 14.2223 8.47505 14.3252C8.40949 16.5415 8.4627 18.8537 8.56087 20.0036C8.56087 20.8913 9.15722 20.7441 9.15722 20.7441H9.71619V21.7024C9.71619 22.0824 10.1079 22.39 10.5906 22.39C11.0739 22.39 11.4656 22.0824 11.4656 21.7024V20.7441H17.9687V21.7024C17.9687 22.0824 18.3602 22.39 18.8435 22.39C19.3261 22.39 19.7179 22.0824 19.7179 21.7024V20.7441H19.9015C19.9015 20.7441 20.6033 20.8404 20.6483 20.4223C20.6483 19.2755 20.7205 16.734 20.661 14.335C20.9552 14.2429 21.1699 13.9718 21.1699 13.6456V12.2385C21.1702 11.8578 20.8757 11.549 20.5023 11.5186ZM11.2462 9.33025H17.8129V10.3237H11.2462V9.33025ZM11.3399 19.6125C10.8243 19.6125 10.4066 19.1945 10.4066 18.6789C10.4066 18.1636 10.8243 17.7459 11.3399 17.7459C11.8555 17.7459 12.2735 18.1636 12.2735 18.6789C12.2735 19.1945 11.8558 19.6125 11.3399 19.6125ZM17.7778 19.6125C17.2625 19.6125 16.8438 19.1945 16.8438 18.6789C16.8438 18.1636 17.2622 17.7459 17.7778 17.7459C18.2933 17.7459 18.7111 18.1636 18.7111 18.6789C18.7114 19.1945 18.2933 19.6125 17.7778 19.6125ZM18.9644 15.5271H10.0946V10.8748H18.9644V15.5271Z" fill="white"/>
          </svg>
          p Зупинки громадського
            br 
            | транспорту

      




      

      



block header
  include ../includes/header.pug

block footer
  include ../includes/footer.pug


