
extends ../layout/main
block variable
 
block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  //- script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  //- script(defer src='./assets/scripts/header.js')
  //- script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/script.js')
block content 
  .content-developer
    ul.breadcrumbs
      li.breadcrumbs-item
        a(href="index.html").breadcrumbs-link головна
      li.breadcrumbs-item
        a(href="menu-contacts.html").breadcrumbs-link-active Фiлософiя
    .news-page
      .news-container-title
        h3.news-title Фiлософiя
    .philosophy-container 
        .philosophy-container-text
          h4.concept-functionality-advertising-title 
            span.color Ідейні натхненники та розробники проєкту сконцентрувались на принципі
            span.italic 	&nbsp; прогнозування та передбачення 
            span людських бажань. 
        .philosophy-container-img     
          +svg('ornament-philosophy')
          img(src="./assets/images/philosophy-imq1.jpg", alt="")
        .philosophy-container-description 
          .philosophy-container-description-section 
            p Центральним образом нашого комплексу є людина з її прагненням до комфорту в кожній деталі. Ми зонуємо простір та складаємо ідеальний пазл досконалого життя та успішного ведення бізнесу. 
            img(src="./assets/images/philosophy-imq2.jpg", alt="")
          .philosophy-container-description-section.philosophy-reverse 
            p Ми створюємо революційний простір, де поєднується досконалий візуал та високоякісний сервіс. 
            img(src="./assets/images/philosophy-imq3.jpg", alt="")
        .philosophy-container-more 
          h4.concept-functionality-advertising-title BOGUN -
            span.color &nbsp; це 
            span.italic.color &nbsp; унікальне 
            span.color &nbsp; середовище для
            span.italic.color &nbsp; успішних 
            span.color &nbsp; людей, які цінують свій час.
          .concept-functionality-advertising-btn.philosophy-btn
            .concept-btn 
              a(href="architecture.html") Дивитися Архітектуру


block header
  include ../includes/header.pug

block footer
  include ../includes/footer.pug


