
extends ../layout/main
block variable
 
block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  //- script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  //- script(defer src='./assets/scripts/header.js')
  //- script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/script.js')
block content 
  .content-developer
    ul.breadcrumbs
      li.breadcrumbs-item
        a(href="index.html").breadcrumbs-link головна
      li.breadcrumbs-item
        a(href="menu-contacts.html").breadcrumbs-link-active Ресторани
    .news-page
      .news-container-title
        h3.news-title Ресторани
    .philosophy-container 
        .architecture-container-text
          h4.concept-functionality-advertising-title 
            span.color Жителі та гості Вінниці
            span.italic &nbsp; обожнюють
            | &nbsp; її за 
            br 
            | гастро-культуру.
           
        .philosophy-container-img     
          +svg('ornament-concept1').restaurants-ornament-main
          img(src="/src/assets/images/restaurants1.jpg", alt="")
        .architecture-container-section
          
          .architecture-container-section-img  
            img(src="/src/assets/images/restaurants2.jpg", alt="")
            //- +svg('ornament-concept1').architecture-ornament
          .architecture-container-section-text
            p Залучивши до співпраці найкращих рестораторів, ми створили простір, де смачно, затишно та красиво. І куди хочеться повертатися щодня. 
        .restaurants-container-section
          h4.concept-functionality-advertising-title Серед ресторанів
            span.color &nbsp; на нашій
            span.italic.color &nbsp; терасі:
          ul.restaurants-container-section-list 
            li 
              a(href="#") “Сушия”
            li 
              a(href="#") “Пузата хата”
            li 
              a(href="#") “як на крилах”
            li 
              a(href="#") “ZEFIR”
            li 
              a(href="#") “Comme Il Faut”
            li 
              a(href="#") “Княжий Град”
            li 
              a(href="#") “МАМА МАНАНА”
            li 
              a(href="#") “Whisky Corner”
        .architecture-btn
          .concept-functionality-advertising-btn
            .concept-btn 
              a(href="sport.html") Дивитися зони для спорту


block header
  include ../includes/header.pug

block footer
  include ../includes/footer.pug



