.footer {
  background-image: url('../images/footer.svg');
  // height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
  width: 100%;
}
.footer-content {
  max-width: 1920px;
  padding: 0 72px;
  margin: 0 auto;
  height: 100vh;
  @include to(1360px) {
    max-width: 1326px;
    padding: 0 50px;
  }
  @include to(850px) {
    max-width: 768px;
    padding: 0 35px;
    height: auto;
  }
}
.form-title {
  font-weight: 300;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -0.05em;
  color: $main-text;
  @include to(1360px) {
    font-size: 36px;
  }
  @include to(850px) {
    font-size: 24px;
  }
}
.form {
  // width: 840px;
  padding-top: 35vh;
  display: flex;
  justify-content: space-between;
}
.footer-form {
  display: flex;
  align-items: flex-end;
  padding-top: 70px;
  width: 100%;
  @include to(1360px) {
    padding-top: 60px;
  }
  @include to(850px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
  }
}
.footer-container-form {
  width: 1060px;
  @include to(1360px) {
    width: 840px;
  }
  @include to(850px) {
    width: 265px;
  }
}

.link.footer-btn {
  border: none;
  background: #555568;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: $white;
  width: 220px;
  height: 50px;
  margin-left: 70px;
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.3s ease-in;
  justify-content: center;
  @include to(1360px) {
    width: 840px;
    width: 190px;
    height: 36px;
    font-size: 10px;
    margin-left: 50px;
  }
  @include to(850px) {
    margin-left: 0;
    margin-top: 40px;
    width: 265px;
    height: 50px;
    font-size: 16px;
  }
}
.footer-contact {
  &-title {
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $main-text;
    padding-bottom: 30px;
    @include to(1360px) {
      font-size: 16px;
      padding-bottom: 20px;
    }
    @include to(850px) {
      font-size: 24px;
    }
  }
  & p {
    font-size: 18px;
    line-height: 1.4;
    color: #88889d;
    @include to(1360px) {
      font-size: 12px;
    }
    @include to(850px) {
      font-size: 16px;
    }
  }
  &-tel {
    font-size: 15px;
    color: $main-text;
    padding: 15px 0;
    @include to(1360px) {
      font-size: 14px;
    }
    @include to(850px) {
      font-size: 16px;
    }
  }
}
.icon--up {
  stroke: $main-text;
  fill: none;
  width: 60px;
  height: 60px;
  @include to(1360px) {
    width: 40px;
    height: 40px;
  }
  @include to(850px) {
    width: 60px;
    height: 60px;
  }
}
.icon--up:hover {
  cursor: pointer;
}
.footer-line {
  border: 1px solid #e8e8e8;
  margin: 11% 0 50px 0;
}
.footer-rights-reserved {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include to(850px) {
    padding-bottom: 50px;
  }
}
.footer-rights {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.05em;
  color: #b3b3b3;
  width: 150px;
  @include to(1360px) {
    font-size: 12px;
    width: 130px;
  }
  @include to(850px) {
    font-size: 14px;
    width: 230px;
  }
}
.ooter-rights-offer {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.05em;
  color: #b3b3b3;
  width: 560px;
  @include to(1360px) {
    font-size: 12px;
    width: 480px;
  }
  @include to(850px) {
    font-size: 14px;
    width: 768px;
    padding: 0 80px 30px 80px;
    order: -1;
    text-align: center;
  }
}
.footer-dev {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.05em;
  color: #b3b3b3;
  width: 115px;
  @include to(1360px) {
    font-size: 12px;
    width: 100px;
  }
  @include to(1850px) {
    font-size: 14px;
    width: 130px;
  }
  & a {
    // text-decoration: none;
    color: #b3b3b3;
    margin-left: 5px;
  }
}
.form-field:not(#t) .form-field__input.footer-field-input {
  font-weight: 300;
  font-size: 56px;
  color: $main-text;
  border: none;
  position: relative;
  padding-top: 18px;
  @include to(1360px) {
    font-size: 48px;
  }
  @include to(850px) {
    font-size: 30px;
  }
}

.form-field:not(#t) .form-field-message.form-field-message-phone.footer-placeholder {
  font-weight: 300;
  font-size: 56px;
  color: #b2b2b2;
  position: absolute;
  top: 27px;
  left: 135px;
  opacity: 1;
  @include to(1360px) {
    font-size: 48px;
    left: 120px;
  }
  @include to(850px) {
    font-size: 30px;
    left: 77px;
    top: 30px;
  }
}
.footer-placeholder {
  height: 1em;
}

.footer-placeholder {
  pointer-events: none;
}
.form-field:not(#t) .form-field__input.footer-field-input {
  width: 430px;
  @include to(850px) {
    width: 265px;
  }
}

.form-field:not(#t)
  .form-field__input.footer-field-input:focus
  + .form-field-message
  .form-field-message-phone.footer-placeholder {
  opacity: 0;
}

// .form-field:not(#t) {
//   position: relative;
//   background: none;
//   transition: all 0.3s;
//   .form-field-message.form-field-message-tel {
//     opacity: 1;
//     position: relative;
//     color: red;
//     font-weight: 300;
//     font-size: 48px;
//     line-height: 1;
//     transform: none;
//     width: 100%;
//     color: #555568;
//   }
// }

// .page__footer-wrapper{

// }
// .footer {
//   position: relative;
//   margin: -1px 0 0;
//   width: 100%;
//   height: 114px;
//   padding: 0 160px;
//   display: flex;
//   align-items: flex-start;
//   justify-content: space-between;
//   z-index: 50;
//   @include to(1440px) {
//     height: 80px;
//     padding: 0 110px;
//   }
//   @include to(992px) {
//     height: 85px;
//     padding: 0 40px;
//   }
//   @include to(680px) {
//     display: grid;
//     grid-template-rows: auto auto 1fr;
//     grid-template-columns: auto auto;
//     height: 60px;
//     padding: 0 20px;
//   }
//   &-copy {
//     margin-top: 10px;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 1em;
//     color: #B8B8B8;
//     @include to(1440px) {
//       font-size: 12px;
//     }
//     @include to(992px) {
//       font-size: 15px;
//     }
//     @include to(576px) {
//       margin-top: 0;
//       font-size: 10px;
//     }
//   }
//   &-dev {
//     margin-top: 10px;
//     display: flex;
//     font-family: $default-font;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 1em;
//     &__text {
//       color: #C1C1C1;
//     }
//     &__link {
//       color: #CFA46E;
//       text-decoration: underline;
//       margin-left: 5px;
//     }
//     @include to(1440px) {
//       font-size: 12px;
//     }
//     @include to(992px) {
//       font-size: 15px;
//     }
//     @include to(576px) {
//       order: 1;
//       font-size: 10px;
//     }
//   }
//   &-social {
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     display: flex;
//     grid-column: 2;
//     grid-row: 1 /span 2;
//     @include to(680px) {
//       position: static;
//       transform: none;
//     }
//     & > * {
//       margin: 0 20px;
//       @include to(1440px) {
//         margin: 0 20px;
//       }
//       @include to(992px) {
//         margin: 0 15px;
//       }
//       @include to(576px) {
//         margin: 0 7.5px;
//       }
//     }
//   }
// }
