.header {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(54, 59, 77, 0.5) 0%, rgba(54, 59, 77, 0) 100%);
  width: 100%;
  pointer-events: none;
  z-index: 100;
  .padding {
    padding-top: 5px;
  }
  &-content {
    // width: 1920px;
    // max-width: 1920px;
    padding: 0 72px;
    height: 234px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    @include to(1920px) {
      height: 140px;
    }
    @include to(1440px) {
      // width: 1326px;
      // max-width: 1326px;
      padding: 0 50px;
      height: var(--header-h);
    }
    @include to(850px) {
      // width: 1326px;
      // max-width: 768px;
      padding: 0 35px;
      height: 130px;
      .desktop {
        display: none;
      }
    }
    @include to(575px) {
      max-width: 500px;
      min-width: 320px;
      padding: 0 25px;
      height: 70px;
    }
    .logo-link {
      // margin-left: 45px;
      pointer-events: painted;
    }
  }
  &-left {
    display: flex;
    align-items: center;
    width: 485px;
    @include to(1440px) {
      width: 369px;
    }
    @include to(850px) {
      width: 60px;
    }
    &-link {
      display: flex;
      align-items: center;
      margin-right: 60px;
      text-decoration: none;
      // font-size: 20px;
      font-size: min(vw(20, 1920), 24px);
      letter-spacing: -0.05em;
      color: $white;
      pointer-events: painted;
      @include to(1920px) {
        margin-right: 50px;
      }
      @include to(1440px) {
        letter-spacing: -0.05em;
        font-size: 18px;
      }

      & .header-icon {
        margin-right: 30px;

        @include to(1920px) {
          margin-right: 20px;
        }
      }
    }
    &-flat {
      // font-size: 14px;
      font-size: min(vw(14, 1920), 16px);
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: $white;
      pointer-events: painted;
      @include to(1440px) {
        font-size: 10px;
        letter-spacing: -0.05em;
      }
    }
  }
  &-right {
    display: flex;
    width: 485px;
    @include to(1440px) {
      width: 369px;
    }
    @include to(850px) {
      width: 60px;
    }
    justify-content: flex-end;
    &-call {
      font-family: $default-font;
      border: none;
      background: inherit;
      // font-size: 14px;
      font-size: min(vw(14, 1920), 16px);
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: $white;
      text-decoration: underline;
      margin-right: 60px;
      pointer-events: painted;
      @include to(1920px) {
        margin-right: 50px;
      }
      @include to(1440px) {
        font-size: 10px;
        letter-spacing: -0.05em;
      }
    }
  }
  &-menu {
    display: flex;
    align-items: center;
    pointer-events: painted;

    & span {
      // font-size: 14px;
      font-size: min(vw(14, 1920), 16px);
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: $white;
      margin-right: 30px;
      @include to(1920px) {
        margin-right: 20px;
      }
      @include to(1440px) {
        font-size: 10px;
        letter-spacing: -0.05em;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.header-container-dark {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.header-dark {
  color: $main-text;
}
.header-menu.header-dark span {
  color: $main-text;
}
.header-icon {
  width: 60px;
  height: 60px;
  fill: $pink;
  cursor: pointer;
  @include to(1440px) {
    width: 46px;
    height: 46px;
  }
  @include to(850px) {
    width: 60px;
    height: 60px;
  }
  @include to(575px) {
    width: 46px;
    height: 46px;
  }
}
#icon-phone path {
  stroke: $white;
}
#icon-menu path {
  fill: $white;
}

.icon--Logo {
  width: 300px;
  height: 50px;
  &-white {
    fill: $white;
  }
  & .dark {
    fill: $main-text;
  }
  @include to(1920px) {
    width: 285px;
    height: 38px;
  }
  @include to(1440px) {
    width: 230px;
    height: 30px;
  }
  @include to(850px) {
    width: 205px;
    height: 27px;
  }
  @include to(575px) {
    width: 145px;
    height: 19px;
  }
}
